<div class="card">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple ie-nav fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink=""><strong>Angular Test</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
             <!--Client dropdown-->
             <div class="btn-group" mdbDropdown>
                <a mdbDropdownToggle type="button" mdbBtn color="secondary" class="dropdown-toggle waves-light"
                  mdbWavesEffect>
                  Client
                </a>
              
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="client/add-edit-client">Add Clients</a>
                  <a class="dropdown-item" routerLink="client">Edit Client</a>
                  <a class="dropdown-item" routerLink="client/listing-client">Listing of Clients</a>
                </div>
              </div>
              <!--Project dropdown-->
              <div class="btn-group" mdbDropdown >
                <a mdbDropdownToggle type="button" mdbBtn color="secondary" class="dropdown-toggle waves-light "
                  mdbWavesEffect>
                  Project
                </a>
              
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="project/add-edit-project">Add Projects</a>
                  <a class="dropdown-item" routerLink="project">Edit Project</a>
                  <a class="dropdown-item" routerLink="project/listing-project">Listing of Projects</a>
                </div>
              </div>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                 <!-- Dark/Light theme switch -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="customSwitches" [ngClass]="{customSwitches: theme == 'bootstrap'}" (click)="toggleTheme()">
                    <label class="custom-control-label" for="customSwitches">Dark theme</label>
                </div>
                
            </li>
        </ul>
    </links>
</mdb-navbar>
</div>
