<div class="card">
    <div class="card-header"></div>
    <div class="body">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5 " [formGroup]="clientForm">

        <p class="h4 mb-4">Add New Client</p>
    
        <!-- Client Name -->
        <div class="md-form">
            <input mdbInput mdbValidate
            type="text" id="form1" class="form-control" formControlName="clientName">
            <label for="form1" class="">Client Name</label>
            <mdb-error *ngIf="clientName.invalid && (clientName.dirty || clientName.touched)">This is a required field</mdb-error>
          </div>

        <!-- Client Address -->
        <div class="md-form">
            <input mdbInput mdbValidate
            type="text" id="form1" class="form-control" formControlName="clientAddress">
            <label for="form1" class="">Client Address <Address></Address></label>
          </div>

        <!-- Client Phone Number
        <div class="md-form">
            <input mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">Client Phone Number</label>
          </div>
         Client Email
        <input type="email" class="form-control mb-4" placeholder="Client Email">
         Client Status
        <input type="text" class="form-control mb-4" placeholder="Client Status">
        -->
    
        <!-- Send button -->
        <button mdbBtn color="secondary" block="true" type="submit" (click)="saveClient()" [disabled]="!clientForm.valid">Add</button>
    
    </form>
  
    </div>
</div>
