<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">id</th>
            <th class="text-center">Client_Name</th>
            <th class="text-center">Client_Address</th>
            <!---
            <th class="text-center">Client_Phone_Number</th>
            <th class="text-center">Client_Email</th>
            <th class="text-center">Client_Status</th>
            --> 
          </tr>
          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'id', $event)" (blur)="updateList(id, 'id', $event)" contenteditable="false">{{person.id}}</span>
            </td>
            <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'Client_Name', $event)" (blur)="updateList(id, 'Client_Name', $event)">{{person.Client_Name}}</span>
            </td>
            <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'Client_Address', $event)" (blur)="updateList(id, 'Client_Address', $event)">{{person.Client_Address}}</span>
            </td>
            <!--
            <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'Client_Phone_Number', $event)" (blur)="updateList(id, 'Client_Phone_Number', $event)">{{person.Client_Phone_Number}}</span>
            </td>
            <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'Client_Email', $event)" (blur)="updateList(id, 'Client_Email', $event)">{{person.Client_Email}}</span>
            </td>
            <td>
              <span contenteditable="false" (keyup)="changeValue(id, 'Client_Status', $event)" (blur)="updateList(id, 'Client_Status', $event)">{{person.Client_Status}}</span>
            </td>
          -->
            
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
