<div class="card">
    <div class="card-header"></div>
    <div class="body">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5 "[formGroup]="projectForm">

        <p class="h4 mb-4">Add New Project</p>
    
        <!-- Project Name -->
        <div class="md-form">
            <input mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">Project Name</label>
        </div>

        <!-- Project Manager -->
        <div class="md-form">
            <input mdbInput type="text" id="form1" class="form-control">
            <label for="form1" class="">Project Description</label>
        </div>

        <!-- Project Client -->
        <div class="md-form">
            <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>
        
        <!-- Start Date/End Date
        <input type="datet" class="form-control mb-4" placeholder="Start Date">

        <input type="date" class="form-control mb-4" placeholder="End Date">
        -->
        <!-- Send button -->
        <button mdbBtn color="secondary" block="true" type="submit">Add</button>
    
    </form>
  
    </div>
</div>
