<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
       
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Project Name</th>
            <th class="text-center">Project Description</th>
            <th class="text-center">Project Client</th>
            <!--
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            -->
          </tr>

          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'id', $event)" (blur)="updateList(id, 'id', $event)" contenteditable="true">{{person.id}}</span>
            </td>
            
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'Project_Name', $event)" (blur)="updateList(id, 'Project_Name', $event)">{{person.Project_Name}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'Project_Manager', $event)" (blur)="updateList(id, 'Project_Manager', $event)">{{person.Project_Manager}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'Project_Client', $event)" (blur)="updateList(id, 'Project_Client', $event)">{{person.Project_Client}}</span>
            </td>
            <!--
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'Start_Date', $event)" (blur)="updateList(id, 'Start_Date', $event)">{{person.Start_Date}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'End_Date', $event)" (blur)="updateList(id, 'End_Date', $event)">{{person.End_Date}}</span>
            </td>
          -->
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
